.Footer{
    background-color: rgb(30, 5, 60);
    background-size: 100%;
    margin-top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Footer h1{
    font-family: Roboto Thin;
    color: white;
    font-size: 40px!Important;
    text-align: center;
}
.Footer p{
    font-family: Cookie;
    color: white;
    font-size: 20px;
    text-align: center;
}